section.single-post {
  height: auto;
  padding: 8rem 0 2rem;
  margin: 0 auto;

  .container {
    max-width: 1180px;
    height: auto;

    h1.post-title {
      font-size: 2.625em;
      line-height: 1.1;
      font-family: $font-family-head;
      color: $red;
    }

    .post-content {
      p {
        font-size: 1.1em;
        line-height: 1.5;
      }

      a {
        color: $red;
      }

      h2 {
        font-size: 1.875em;
        line-height: 1.2;
        font-family: $font-family-md;
      }

      h3 {
        font-size: 1.5em;
        line-height: 1.3;
        font-family: $font-family-text;
      }
    }

  }

}
