footer {
  color: $white;
  padding: 1rem 0;
  text-align: center;
  background-color: #22211D;
  padding: 5rem 0;
  min-height: 500px;
  position: relative;
  height: auto;


  .container {
    padding: 5px;
    margin: 5px auto;
    position: relative;
  }

  .copyright {
    // border: 1px dotted white;
    position: relative;
    padding: 5px;
    margin: 5px;

    p {
      color: white;
      opacity: 0.8;
      font-size: 0.75rem;
    }
  }

}
