body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
  color: #695E4A;
  // font-family: $font-family-text;
}

.cf::after {
  clear: both;
  content: '';
  display: block;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
